.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #444;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
  flex-grow: 1;
  text-align: center;
}

.social-links {
  display: flex;
  gap: 16px;
  padding: 10px;
}

a {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 1;
}

.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.board {
  width: 90vw;
  max-width: 450px;
  height: 550px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 90vw;
  max-width: 700px;
  height: 300px;
  margin-top: 60px;
}

.line1,
.line2,
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}

#disabled {
  background-color: #3a393c;
}

@media (max-width: 768px) {
  nav h1 {
    font-size: 32px;
  }

  .board {
    height: 500px;
  }

  .letter {
    font-size: 24px;
  }

  .keyboard {
    height: 240px;
    margin-top: 0;
  }

  .key {
    width: 40px;
    height: 60px;
    font-size: 16px;
  }

  #big {
    width: 80px;
  }

  .game {
    padding-top: 30px;
    height: calc(100vh - 120px);
  }

  nav {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  nav h1 {
    font-size: 24px;
  }

  .board {
    height: 400px;
    width: 95vw;
  }

  .letter {
    font-size: 20px;
  }

  .keyboard {
    height: 150px;

  }

  .key {
    width: 30px;
    height: 45px;
    font-size: 14px;
  }

  #big {
    width: 60px;
  }

  .game {

    height: calc(100vh - 100px);
  }
}

@media (max-width: 320px) {
  .key {
    width: 25px;
    height: 40px;
    font-size: 12px;
  }

  #big {
    width: 50px;
  }
}